pyvenv.cfg
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments (just in case)
venv/
.venv/

# Local private key storage
keystore.json
keystores/

# VSCode
.vscode/

# OS junk
.DS_Store
Thumbs.db
client/__pycache__/auth.cpython-310.pyc
client/__pycache__/keystore.cpython-310.pyc
